<h1 class="text-lg font-medium text-center">
    Add Expense
</h1>
<!-- <div class="all">
    <div class="w-[700px]">
        <div class="grid grid-cols-1 gap-x-50">
            <form nz-form [formGroup]="addExpenseForm">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ExpenseDate">Date</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Date!">
                        <input nz-input placeholder="Select the Expense Date" type="date" formControlName="date" id="date" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ExpenseType">Expense Type</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Expense Type!">
                        <input nz-input placeholder="Enter the Expense Type" type="text" formControlName="expense_type" id="expense_type" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="PaymentType">Payment Type</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Payment Type!">
                        <input nz-input placeholder="Enter the Payment Type" type="text" formControlName="payment_type" id="payment_type" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ExpenseAmount">Amount</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Amount!">
                        <input nz-input placeholder="Enter the Amount" type="number" formControlName="amount" id="amount" />
                    </nz-form-control>
                </nz-form-item>

                <div class="flex gap-10">
                    <button
                        nz-button
                        [nzType]="'primary'"
                        class="flex-grow"
                        size="1px"
                        (click)="submitExpense()"
                    >
                        {{ expenseDetailId > 0 ? "Save" : "Add" }}
                    </button>
                    <button
                        nz-button
                        [nzType]="'default'"
                        class="flex-grow"
                        [routerLink]="['/manage-bank']"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->






